<div class="container text-center m-5">
    <h1><u>{{title}}</u></h1>
</div>
<div class="container m-5">
    <div class="row">
        <div class="col-4">
            <input type="text" [(ngModel)]="searchText" (input)="inputChange()" placeholder="Search" class="form-control">                
        </div>
        <div class="col-4">
            <select [(ngModel)]="selectedFilter" (click)='onSelectChange()' class="form-control">
                <option value="undefined" selected>Filter By</option>
                <option *ngFor="let value of filterList">{{value}}</option>
            </select>
        </div>
        <div class="col-2">
        </div>
        <div class="col-2">
            <a routerLink="/add" routerLinkActive="active">
                <button type="button" class="btn btn-primary mb-2">Add Student</button>
            </a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Class</th>
                <th scope="col">Subject</th>
                <th scope="col">Marks</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody *ngIf="getData?.length > 0">
            <tr *ngFor="let value of getData | mutifilter:searchText:selectedFilter">
                <td>{{value.id}}</td>
                <td>{{value.firstName}}</td>
                <td>{{value.lastName}}</td>
                <td>{{value.class}}</td>
                <td>
                    <tr *ngFor="let subject of value?.subjectMarks">
                        <td>{{subject.subject}}</td>
                    </tr>
                </td>
                <td>
                    <tr *ngFor="let marks of value?.subjectMarks">
                        <td>{{marks.marks}}</td>
                    </tr>
                </td>
                <td>
                    <tr *ngFor="let subject of value.subjectMarks">
                        <td>
                            <a [routerLink]="['/edit/', value.id]" routerLinkActive="active">
                                Edit
                            </a>
                            | <button type="button" class="btn" (click)="delete(value.id)">Delete</button>
                        </td>
                    </tr>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="getData?.length < 1">
            <tr rowspan="7">
                <td>No Record Found</td>
            </tr>
        </tbody>
    </table>
</div>